@page
@{
    ViewData["Title"] = "about";
}

@section Style {
    <link rel="stylesheet" href="~/css/AboutUs.css"/>
}

@section Banner {
    <img src="~/images/about.jpg" />
}



<h2>The Story Of Local Pizza</h2>

