@page
@{
    ViewData["Title"] = "About";
}

@section Style {
    <link rel="stylesheet" href="~/css/AboutUs.css" />
}

@section Banner {
    <img id="banner" src="~/images/about.jpg" />
}

<div class="content">
    <h2>The Story Of Local Pizza</h2>

    <p>Lorem Ipsum Dolor Sit Amet, Consectetur Adipisicing Elit, Sed Do Eiusmod Tempor Incididunt Ut Labore Et Dolore Magna Aliqua. Ut Enim Ad Minim Veniam, Quiepakis Nostrud Exercitation Ullamco Laboris Nsi Ut Aliquip Ex Ea Comepmodo Consetquat. Duis Aute Irure Dolor In Reprehenderit In Voluptate Velit Esse</p>

    <img src="~/images/signCrop.jpg" />

    <p>Lorem Ipsum Dolor Sit Amet, Consectetur Adipisicing Elit, Sed Do Eiusmod Tempor Incididunt Ut Labore Et Dolore Magna Aliqua. Ut Enim Ad Minim Veniam, Quiepakis Nostrud Exercitation Ullamco Laboris Nsi Ut Aliquip Ex Ea Comepmodo Consetquat. Duis Aute Irure Dolor In Reprehenderit In Voluptate Velit Esse</p>
</div>

<div class="portraits">
    <div class="card-portrait">
        <img src="~/images/portrait1.png" />
        <div>
            <h3>Name Surname</h3>
            <h4>Founder & CEO</h4>
            <p>Natus Error Sit Voluptartem Accusantium Doloremque Laudantium, Totam Rem Aperiam, Eaque Ipsa Quae Ab Illo Inventore.</p>
        </div>
    </div>
    <div class="card-portrait">
        <img src="~/images/portrait1.png" />
        <div>
            <h3>Name Surname</h3>
            <h4>Founder & CEO</h4>
            <p>Natus Error Sit Voluptartem Accusantium Doloremque Laudantium, Totam Rem Aperiam, Eaque Ipsa Quae Ab Illo Inventore.</p>
        </div>
    </div>
    <div class="card-portrait">
        <img src="~/images/portrait1.png" />
        <div>
            <h3>Name Surname</h3>
            <h4>Founder & CEO</h4>
            <p>Natus Error Sit Voluptartem Accusantium Doloremque Laudantium, Totam Rem Aperiam, Eaque Ipsa Quae Ab Illo Inventore.</p>
        </div>
    </div>
</div>