@page
@model IndexModel
@{
    ViewData["Title"] = "Order Local Pizza Online";
}

<div id="pizza-box" class="home-box">
    <div id="pizza-box-content">
        <h1>Pizza</h1>
        <p>
            Lorem ipsum dolor sit amet, consetetur sadipscin elitr, sed diam nonumy eirmod tempor invidu gfd g et dolore magna aliquyam erat, sed diam
        </p>
        <a href="#" class="large-button btn-blue">ORDER ONLINE</a>
    </div>
</div>

<div class="flex-container home-box-row">
    <div class="home-box" id="sides-box">
        <h1 class="box-heading">Sides</h1>
        <a href="#" class="menu-btn">Menu</a>
</div>
    <div class="home-box" id="drinks-box">
        <h1 class="box-heading">Drinks</h1>
        <a href="#" class="menu-btn">Menu</a>
    </div>
    <div class="home-box" id="desserts-box">
        <h1 class="box-heading">Desserts</h1>
        <a href="#" class="menu-btn">Menu</a>
    </div>
</div>