@page
@model LocalPizza.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
}
@using LocalPizza.Core

@section Style {
    <link rel="stylesheet" href="~/css/Menu.css" />
}
<div id="menu">

</div>
<script src="~/js/menu/menu.js"></script>

<a asp-page="order">Complete Order</a>