@page
@model LocalPizza.Pages.orderModel
@{
}
<form method="post">
    <label asp-for="CurrentOrder.DeliveryAddress.Unit"></label>
    <input asp-for="CurrentOrder.DeliveryAddress.Unit" />
    <br />
    <label asp-for="CurrentOrder.DeliveryAddress.StreetNumber"></label>
    <input asp-for="CurrentOrder.DeliveryAddress.StreetNumber" />
    <br />
    <label asp-for="CurrentOrder.DeliveryAddress.StreetName"></label>
    <input asp-for="CurrentOrder.DeliveryAddress.StreetName" />
    <br />
    <label asp-for="CurrentOrder.DeliveryAddress.Suburb"></label>
    <input asp-for="CurrentOrder.DeliveryAddress.Suburb" />
    <br />
    <label asp-for="CurrentOrder.DeliveryAddress.PostCode"></label>
    <input asp-for="CurrentOrder.DeliveryAddress.PostCode" />

    <label asp-for="CurrentOrder.DeliveryInstructions"></label>
    <input asp-for="CurrentOrder.DeliveryInstructions" />
    <br />
    <label asp-for="CurrentOrder.Name"></label>
    <input asp-for="CurrentOrder.Name" />
    <br />
    <label asp-for="CurrentOrder.RequestDelivery"></label>
    <select asp-for="CurrentOrder.RequestDelivery" asp-items="Model.TimesSelect"></select>
    <br />
    <button type="submit">Submit</button>
</form>