@page
@model LocalPizza.Pages.OrderModel
@{
}
<form id="OrderForm" onsubmit="appendCart()" method="post">
    <label asp-for="CurrentOrder.DeliveryAddress.Unit"></label>
    <input asp-for="CurrentOrder.DeliveryAddress.Unit" />
    <br />
    <label asp-for="CurrentOrder.DeliveryAddress.StreetNumber"></label>
    <input asp-for="CurrentOrder.DeliveryAddress.StreetNumber" />
    <br />
    <label asp-for="CurrentOrder.DeliveryAddress.StreetName"></label>
    <input asp-for="CurrentOrder.DeliveryAddress.StreetName" />
    <br />
    <label asp-for="CurrentOrder.DeliveryAddress.Suburb"></label>
    <input asp-for="CurrentOrder.DeliveryAddress.Suburb" />
    <br />
    <label asp-for="CurrentOrder.DeliveryAddress.PostCode"></label>
    <input asp-for="CurrentOrder.DeliveryAddress.PostCode" />

    <label asp-for="CurrentOrder.DeliveryInstructions"></label>
    <input asp-for="CurrentOrder.DeliveryInstructions" />
    <br />
    <label asp-for="CurrentOrder.Name"></label>
    <input asp-for="CurrentOrder.Name" />
    <br />
    <label asp-for="CurrentOrder.Name"></label>
    <select asp-for="CurrentOrder.RequestDelivery" asp-items="Model.TimesSelect"></select>
    <br />
    <button type="button" onclick="appendCart()">Submit</button>
</form>

<script>
    function appendCart() {
        let fe = document.getElementById('OrderForm')
        let form = new FormData(fe);
        form.append("OrderItems", JSON.parse(localStorage.getItem('cart')));
        form.append("TestMessage", "Hello there!");
        console.log(JSON.parse(localStorage.getItem('cart')));
        fetch('/order', {
            method: 'POST',
            body: form
        }).
            then(response => {
                console.log(response.status);
            })
    }
</script>