html {
    background-color: #428C65;
}

img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}

#banner {
    height: 44vw;
    border-bottom-right-radius: 13vw;
}

.card-portrait {
    height: 20vw;
}