@keyframes prep {
    from {stroke-dashoffset: 534px;}
    to {stroke-dashoffset: 356px;}
}
@keyframes delivery {
    from {stroke-dashoffset: 356x;}
    to {stroke-dashoffset: 178px;}
}
@keyframes complete {
    from {stroke-dashoffset: 178px;}
    to {stroke-dashoffset: 0px;}
}
* {
    font-family: Poppins;
}
#app {
    background-color: #428C65;
    border-radius: 10px;
    padding: 50px;
}

#grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

div>h2 {
    color: white;
    font-family: Poppins;
    font-weight: 700;
    font-size: 28px;
}

.circle-chart__circle {
    transform: rotate(-90deg);
    transform-origin: center;
    stroke-dasharray: 534px;
    stroke-dashoffset: 534px;
}
.circle-chart {
    margin-left: 12px;
}
.large-svg-text {
    font-size:50px;
    font-weight: 100;
}
small-svg-text {
    font-weight: 100;
}

#order-items {
    margin-left: 35px;
}
#order-tracker {
    padding: 20px;
    margin-bottom: 35px;

}
#status-indicator {
    text-align: center;
    color:white;
}
#order-circle {
    width: 205px;
    margin: auto;
}
#order-data {

}

.order-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}
.order-grid>p {
    margin-left: 30px;
    display: inline;
    font-weight: 600;
}
.order-pane {
    color: white;
    padding: 28px;
    background-image: linear-gradient(to right, #7CD6A6, #7cd6a63b, #7cd6a600);
    border-radius: 15px;
}
.created {
    stroke-dashoffset: 534px;
}

.preparing {
    stroke-dashoffset: 534px;
    animation-name: prep;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.delivery {
    stroke-dashoffset: 356x;
    animation-name: delivery;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.finished {
    stroke-dashoffset: 178px;
    animation-name: complete;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}