@keyframes product-anim {
    from {
        bottom: -1.302125vw;
        left: 1.406295vw;
    }

    to {
        bottom: 9.89615vw;
        left: 0.677105vw;
    }
}

@keyframes description-anim {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

h5, p {
    margin: 0px;
}
.topping-price {
    float: right;
}
#PizzaHeading {
    width: 100%;
    height: 14.5vw;
    object-fit: cover;
    border-radius: 0.8vw;
}
#itemOrderDetail>h5{
    font-family: Poppins;
    font-weight: 500;
    font-size: 15px;
}
#itemOrderDetail>p,
#itemOrderDetail>div {
    font-family: Poppins;
    font-weight: 300;
    font-size: 13px;
}
#itemOrderDetail>div{
    overflow-y: scroll;
    max-height: 137px;
    scrollbar-width: thin;

}
h2.MenuHeading {
    font-family: Poppins;
    font-weight: 700;
    color: #212126;
    margin-left: 1vw;
    font-size: 1.25004vw
}

div.flexContainer {
    display: flex;
    flex-wrap: wrap;
}

.productImg {
    width: 100%;
    border-radius: 1.302125vw
}
#pizzaImg {
    background-image: url(../images/pizzaHeading.jpg);
    background-position-x: -6.3vw;
    background-position-y: -19.261385vw;
    background-size: 112%;
}
#drinkImg {
    background-image: url(../images/drink.jpg);
    background-position-x: -17.344305vw;
    background-position-y: -30.261385vw;
    background-size: 147%;
}

#sideImg {
    background-image: url(../images/side.jpg);
    background-position-y: -591px;
    background-size: 160%;
}
#dessertImg {
    background-image: url(../images/dessert.jpg);
    background-position-y: 27vw;
    background-size: 100%;
}
.menuImgHeading>h2 {
    position: relative;
    left: 1.302125vw;
    color: white;
    font-size: 3.1251vw;
    margin: 0px;
}
#pizzaImg>h2 {
   top: 9.635725vw;
}

#sideImg>h2 {
    top: 8.635725vw;
}

#drinkImg>h2 {
    top: 1.635725vw;
}
#dessertImg>h2 {
    top: 2.635725vw;
}

.menuImgHeading {
    font-family: 'Fredoka One';
    color: white;
    width: 100%;
    height: 14.68797vw;
    border-radius: 0.52085vw;
    margin-bottom: 3.1251vw;
}
.menuItem {
    border-radius: 1.302125vw;
    position: relative;
    text-align: center;
    width: 15.6255vw;
    height: 10.72951vw;
    color: white;
    margin-left: 1.66672vw;
    margin-right: 1.66672vw;
    margin-bottom: 3.64595vw;
    background-color: #212126;
    cursor: pointer;
}
#customiseForm {
    position: fixed;
    width: 1480px;
    min-height: 200px;
    z-index: 5;
}
#itemPicture {
    z-index: 6;
    height: 270px;
}
.form {
    display:grid;
    grid-template-columns: 8fr 11fr;
}

.left-form {
    background-color: #77A88D;
    padding: 50px;
}
.right-form {
    background-color: white;
}
.lightHeading {
    color:white;
    font-family: Poppins;
    display: inline-block;
    font-size: 32px;
}
h2.lightHeading:nth-child(2) {
    float: right;
}
#OrderTotal {
    margin:0px;
    font-size:55px;
    font-weight: 700;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.315);
}
.product-name {
    background-color: #bc4e4e;
    position: absolute;
    bottom: -1.302125vw;
    left: 1.406295vw;
    width: 13.02125vw;
    font-family: Poppins;
    height: 1.718805vw;
    border-radius: 0.20834vw;
}
.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: space-around;
    position: absolute;
    margin-top: 87px;
}
#itemOrderDetail {
    width: 200px;
    background-color: white;

    margin-right: 29px;
    border-radius: 15px;
    padding: 13px;
}
.bottom-form {
    margin-top: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: Poppins;
}

div.bottom-form:nth-child(4){
    margin-top: 171px;
}
#close {
    font-size: 51px;
    position: absolute;
    top: 60px;
    right: 60px;
    color: #537969;
    cursor: pointer;
}
#background {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position-y: -500px;
    left: 0px;
    top: 0px;
    z-index: -1;
    background-color: #537969;
}
.CartButton>h3:nth-child(1) {
    margin: auto;
    text-align: center;
    font-size: 23px;
}
.CartButton {
    cursor: pointer;
    padding: 10px;
    background-color: #6565F6;
    border-radius: 10px;
    width: 150px;
    height: 38px;
}
#itemOrderImage {
    z-index: 6;
    height: 270px;
}
#itemOrderImage>img {
    height: 270px;
    border-radius: 15px;
}
#itemProductImg {
    z-index: 6;
    height: 270px;
}
#menu-nav {
    font-family: Poppins;
    color:#4D4D51;
    min-height: 60px;

}
#smallOrder>p:nth-child(2) {
    display: inline;
    margin-left: 10px;
}
#menu-nav>h3:nth-child(1) {
    padding-top:12px;
}
#smallOrder {
    background: rgb(114, 194, 35) none repeat scroll 0% 0%;
    color: white;
    font-family: Poppins;
    display: inline;
    float: right;
    padding: 7px;
    font-size: 22px;
    border-radius: 10px;
}
.orderItem{
    display: grid;
    grid-template-columns: 2fr 4fr 1fr 1fr;
    margin-bottom: 5px;
}
.orderItem>h4 {
    font-weight: 400;
    display: inline;
}
.miniPicture {
    max-height: 70px;
    border-radius: 8px;
}
#order-bottom {
    display: grid;
    grid-template-columns: 5fr 2fr;
    margin-top: 15px;
    color:#403838;
}
#totalContainer>h4:nth-child(2) {
    margin: 0px;
    font-size: 22px;
}

#largeOrder>h2:nth-child(1) {
    margin:0px;
    margin-bottom: 10px;
}

.orderItem>h4:nth-child(3),
.orderItem>h4:nth-child(4) {
    font-weight: 700;
}
#placeOrder {
    cursor: pointer;
    float: right;
    background: #7CD6A6;
    border-radius:8px;
    padding: 20px;
    font-weight: 700;
    font-family: Poppins;
    color: white;
    text-align: center;
    font-size: 21px;
}
#totalContainer {
    display: grid;
    grid-template-rows: 2fr 3fr;
    padding-top: 9px;
}
#largeOrder {
    width: 800px;
    min-height: 200px;
    background-color: #ffffff;
    position: fixed;
    left: 43%;
    z-index: 1;
    font-family: Poppins;
    border-radius: 15px;
    padding:38px;
}

#order {
    min-height: 60px;
    display: inline-block;
    float: right;
}
#itemProductImg>img {
    height: 385px;
    border-radius: 15px;
    position: absolute;
    left: 185px;
    top: 163px;
}
#item-form {
    background-color: #F2ECEB;
    margin-left: 118px;
    max-height: 245px;
    margin-top: 119px;
    width: 421px;
    padding: 43px;
}
.darkHeading {
    color: rgb(46, 45, 45);
    font-family: Poppins;
    display: inline-block;
    font-size: 32px;
}

div.bottom-form:nth-child(2) {
    margin-top: 282px;
}
#item-form>p:nth-child(3) {
    font-family: Poppins;
    color: #403838;
    margin-top: 15px;
    margin-bottom: 43px;
}
#buttonGroup>span:nth-child(2)
{
    margin-left: 101px;
    width: 40px;
    display: inline-block;
    text-align: center;
}
#buttonGroup>button:nth-child(1),
#buttonGroup>button:nth-child(3),
#buttonGroup>span:nth-child(2) {
    border: none;
    background: #E1E1DE;
    font-size: 36px;
    font-weight: 400;
    font-family: Poppins;
    color: #403838;
    width: 75px;
}
h2.darkHeading:nth-child(2) {
    float: right;
}
.left-form>p {
    font-family: Poppins;
    color: white;
    line-height: 50px;
    font-size: 20px;
}


.right-form {
    padding-left: 110px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.right-form>h3:nth-child(1){
    font-family: Poppins;
    font-weight: 700;
    padding-left: 40px;
    font-size: 30px;
}
.crust,
#toppings {
    display: inline-flex;
    background-color: #E3E3E3;
    border-radius: 25px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.322);
    padding:25px;
    justify-content: space-between;
    width: 400px;
}
.crust>div,
.topping {
    display: inline-block;
    background-color: white;
    padding: 7px;
    margin: 0px;
    border-radius: 15px;
}

.crust>div>p,
div.topping>p {
    text-align: center;
    margin: 5px 0px 5px 0px;
    font-family: Poppins;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100px;
    white-space: nowrap;
}
.crust>div>img {
    border-radius: 8px;
}
.customiseForm>h4:nth-child(4)
.left-form>div:nth-child(4)>div>h5, .customiseForm>h4 {
    color:#212126;
    font-family: Poppins;
    font-weight: 700;
}
#customiseForm {
    scrollbar-width: thin;
    scrollbar-color: #77a88d #77a88d82;
    position: fixed;
    top: 60px;
}
.customiseForm>h4:nth-child(1) {
    font-size: 17px;
}
.small-shadow {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}
.checked {
    box-shadow: 0 0 3pt 2pt rgb(0, 174, 0);
}

#toppings {
    flex-wrap: wrap;
    width: 638px;
    overflow-y:scroll;
    max-height: 220px;
    scrollbar-width: thin;

}
div.topping>img {
    width: 100px;
    border-radius: 10px;
    height: 70px;

}
.topping {
    margin-bottom:10px;
}
.customiseForm>h4:nth-child(4)>span:nth-child(1) {
    color: #BC4E4E;
}

.customiseForm>h4:nth-child(1)>span:nth-child(1) {
    color: #6565F6;
}
.product-description {
    opacity: 0;
    position:absolute;
    background-color: #000a;
    width: 80%;
    height: 60%;
    top: 1.510465vw;
    left: 1.510465vw;
    border-radius: 0.260425vw;
    font-family: Poppins;
    font-weight: 400;
    font-size: 0.677105vw;
    line-height: 1.9em;
}

.product-name > h4 {
    margin: 0;
    margin-top: 0.20834vw;
}

.menuItem > button {
    background-color: #444480;
    position: absolute;
    bottom: 0.52085vw;
    left: 4.531395vw;
    width: 6.2502vw;
    color: white;
    font-family: Poppins;
    border: none;
    height: 1.56255vw;
    font-size: 0.572935vw;
    border-radius: 0.156255vw;
    opacity: 0;
}

.menuItem:hover .product-description {
    animation-name: description-anim;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-delay: 0.1s;
}

.menuItem:hover button {
    animation-name: description-anim;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-delay: 0.1s;
}
.menuItem:hover .product-name {
    animation: product-anim 0.2s;
    animation-fill-mode: forwards;
}

.menuItem:hover .productImg {
    opacity: 0.8;
}

@media only screen and (min-width: 1920px) {
    @keyframes product-anim {
        from {
            bottom: -25px;
            left: 27px;
        }

        to {
            bottom: 190px;
            left: 13px;
        }
    }

    #drinkImg {
        background-image: url(../images/drink.jpg);
        background-position-x: -333px;
        background-position-y: -581px;
    }

    #pizzaImg {
        background-image: url(../images/pizzaHeading.jpg);
        background-position-x: -121px;
        background-position-y: -370px;
        background-size: 112%;
    }

     #pizzaImg>h2 {
        top: 185px;
        left: 25px;
        font-size: 60px;
     }

    .menuImgHeading {
        width: 1480px;
        height: 282px;
        border-radius: 10px;
        margin-bottom: 60px;
    }

    #PizzaHeading {
        height: 282px;
        border-radius: 15px;

    }

    h2.MenuHeading {
        font-size: 24px;
        margin-left: 20px;
    }

    .productImg {
        width: 100%;
        border-radius:25px;
    }

    .menuItem {
        border-radius: 25px;
        width: 300px;
        height: 206px;
        margin-left: 34px;
        margin-right: 34px;
        margin-bottom: 70px;
    }

    .menuItem>button {
        bottom: 10px;
        left: 87px;
        width: 120px;
        height: 30px;
        font-size: 11px;
        border-radius: 3px;
    }

    .product-name {
        bottom: -25px;
        left: 27px;
        width: 250px;
        height: 33px;
        border-radius: 4px;
    }

    .product-description {
        top: 29px;
        left: 29px;
        border-radius: 5px;
        font-size: 13px;
        line-height: 1.9em;
    }
    .product-name>h4 {
        margin-top: 5px;
    }

    .menuItem>button {
        bottom: 10px;
        left: 87px;
        width: 120px;
        height: 30px;
        font-size: 11px;
        border-radius: 3px;
    }
}