<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css" />
    <script src="https://kit.fontawesome.com/90cbb1cc30.js" crossorigin="anonymous"></script>
    @RenderSection("Style", false)
</head>

<body>
    <header>
        <nav>
            <div class="flex-container">
                <a class="brand btn-sml" asp-page="Index">Local Pizza Shop</a>
                <a class="link" href="#">Order Online</a>
                <a class="link" href="#">Store Details</a>
                <a class="link" asp-page="about">About Us</a>

                <div class="account-buttons">
                    <a id="sign-up" class="btn-sml">Sign up</a>
                    <a id="sign-in" class="btn-sml">Sign in</a>
                </div>
            </div>
        </nav>
    </header>

    @RenderSection("Banner", false)

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <hr>
        <div class="footer-center">
            <div class="flex-container">
                <div class="footer-block">
                    <i class="fas fa-phone-alt"></i> <span id="phone-number">(02) 4646 4646</span>
                </div>
            </div>

            <div id="footer-privacy" class="footer-block">
                <a href="#">Privacy</a>
                <a href="#">Terms & Conditions</a>
            </div>

            <div class="flex-container">
                <div class="footer-block">
                    <p id="copyright-statement">Copyright Local Pizza 2020</p>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>