@page
@model LocalPizza.Pages.Admin.DeleteModel
@{
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <button type="submit">Confirm</button>
    <a asp-page="./ProductList">Cancel</a>
</form>