@page "{id:int}"
@model LocalPizza.Pages.Admin.EditProductModel
@{
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}
<div>
    <div id="editPage">
        <edit-form :itemid="@Model.Item.Id"></edit-form>
    </div>

    <!--Vue.js main and components-->
    <script src="~/js/editProduct/main.js"></script>
    <script src="~/js/editProduct/EditForm.js"></script>

    <script>
        const mountedApp = app.mount('#editPage');
    </script>
</div>