@page

@model LocalPizza.Pages.Admin.OrdersModel
@{
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}
<h1>Orders</h1>
<div id="app">

</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/AdminOrders/main.js"></script>